/* Material header tweaks */
.md-header,
.md-tabs {
    background-color: #101014;
}

.md-header {
    border-bottom: 1px solid rgba(255, 152, 0, 0.28);
}

.md-tabs {
    border-bottom: 1px solid rgba(255, 152, 0, 0.16);
}

.md-tabs__link--active,
.md-tabs__link:hover {
    color: #ffb74d;
}
