[submodule "extlibs/googletest"]
	path = extlibs/googletest
	url = https://github.com/google/googletest.git
[submodule "extlibs/zydis"]
	path = extlibs/zydis
	url = https://github.com/zyantific/zydis.git